<div>
    <p>Hi <%= newUserToken.userId.userName %>!</p>
    <br>
    <br>
    <p style="color: red"> To Reset Your Password :  <span>http://localhost:8080/user/reset-password/?accessToken=<%=newUserToken.accessToken%></span></p>


    <br>
    <br>
</div>