<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Header</p>
    <ul>
        
            <% if (locals.user){ %>

                <li><%=user.name%></li>
                <li>
                    <a href="/user/signOut">Sign Out</a>
                </li>



            <% } else { %>

                <li>
                    <a href="/user/signIn"> Sign In</a>
                </li>
                <li>
                    <a href="/user/signUp">Sign Up</a>
                </li>
            
            
            <% } %>
       
    </ul>
</body>
</html>