<form action="create" method="post">
    <input type="text" name="email" placeholder="Email Id : " required>
    <input type="text" name="password" placeholder="Password : " required>
    <input type="text" name="confirmPassword" placeholder="Confirm Password : " required>
    <input type="text" name="name" placeholder="Name : " required>

    <input type="submit" placeholder=" Sign In ">

</form>

