
    <link rel="stylesheet" href="./css/signIn.css">
    <title>SignIn</title>

    <form action="/user/createSession" method="post" class="sign-in-form">
        <input type="text" name="userEmailId" placeholder="Email Id : " required>
        <input type="text" name="userPassword" placeholder="Password : " required>
        <input type="submit" placeholder=" Sign In ">
    </form>



          


 
