.post{
    margin: 20px;
    border: 1px solid black;
    height: auto;
    width: 400px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    background-color: skyblue;
    overflow: hidden;
}

.post:hover{
    box-shadow: none;
}

body{
    font-family: 'Roboto Mono', monospace;
}